@font-face {
  font-family: 'Graphik-Regular';
  src: url('../fonts/graphik-regular.ttf');
  font-style: normal;
  font-weight: 100;
}

$xlarge: 1920px;
$large: 1280px;
$medium: 960px;
$small: 750px;
$esmall: 375px;

body {
  font-family: 'Graphik-Regular';
}

a {
  text-decoration: none;
  color: black;
}

.photoadam {
  background-image: url(../img/matisebinnen.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 45rem;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.home {
  width: 80px;
  height: 80px;
  background-image: url(../img/hexagon.png);
  background-size: contain;
  background-position: 80px;
  float: right;
  p{
    color: white;
    font-size: 12px;
    padding: 18px;
  }
}

.position {
  &__row {
    display: flex;
    &--second {
      display: flex;
      float: right;
      border-top: 2px solid black;
      margin-top: 20px;
    }
  }
  &__column {
    padding: 2rem;
    width:40%;
    margin: 0 auto;
    &--second {
      align-items: center;
      display: flex;
      float: right;
    }
  }
}

.title {
  p {
    font-size: 21px;
    float: left;
    transform: rotate(90deg);
  }
}

.verwachting {
  width: 50%;
  height: 38rem;
  margin-top: 20px;
  &__title {
    font-size: 21px;
    text-align: center;
    margin-top: -35px
  }
  &__text {
    width: 80%;
  }
  &__photo {
    width: 12rem;
    height: 18rem;
    background-image: url(../img/plant.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.scrollbox {
  padding-right: 15px;
  height: 20rem;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0,0,0,0.3);
}

.line {
  border-left: 2px solid black;
  height: 6rem;
  display: flex;
  position: absolute;
  left: 55px;
  top: 12rem;
}

.inleiding {
  width: 50%;
  height: 20rem;
  margin-left: 6rem;
  &__text {
    width: 80%;
  }
}

.arrow {
  width: 20px;
  height: 20px;
  background-image: url(../img/arrow.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.leerdoel {
  padding: 70px;
  &__photo {
    background-image: url(../img/leerdoel1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    &--second {
    background-image: url(../img/leerdoel2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    }
    &--third {
    background-image: url(../img/leerdoel3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    }
    &--fourth {
    background-image: url(../img/leerdoel4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    }
  }
}

.progressbar {
  max-width: 300px;
  height: 30px;
  border: 2px solid black;
  &__inside {
    width: 40px;
    height:20px;
    background-color: black;
    font-size: 12px;
    color: white;
    padding: 0.4rem;
    &--second {
      width: 35px;
      height:20px;
      background-color: black;
      font-size: 12px;
      color: white;
      padding: 0.4rem;
    }
    &--third {
      width: 30px;
      height:20px;
      background-color: black;
      font-size: 12px;
      color: white;
      padding: 0.4rem;
    }
    &--four {
      width: 20px;
      height:20px;
      background-color: black;
      font-size: 12px;
      color: white;
      padding: 0.4rem;
    }
  }
}

.footer {
   position: sticky;
   width: 100%;
   height: 6rem;
   background-image: url(../img/footer.png);
   background-size: cover;
   background-repeat: no-repeat;
   justify-content: center;
   align-items: center;
   display: flex;
   font-size: 12px;
   a {
     justify-content: center;
     &:nth-child(n+2) {
       padding-left: 14rem;
     }
   }
}

@media screen and (max-width: $large) {
  .position {
    &__row {
      &--second {
        margin-top: 0px;
        margin-bottom: 960px;
        float: none;
      }
    }
  }
  .inleiding {
    &__text {
      width: 90%;
    }
  }
  .leerdoel {
    &__first {
      margin-top: 22rem;
    }
  }
}


@media screen and (max-width: $medium) {
  .photoadam {
    margin-top: 0;
    margin-bottom: 0;
    background-position: 0px;
    background-size: 80rem
  }
  .verwachting {
    width: 60%;
    margin: 0 auto;
    &__title {
      text-align: left;
      margin-top: 0px;
    }
    &__photo {
      margin: 0 auto;
      margin-bottom: 40px
    }
  }
  .inleiding {
    margin: 0 auto;
    width: 60%;
    margin-top: 5rem;
    &__text {
      width: 100%;
    }
  }
  .position {
    &__row {
      display: inline-block;
    }
    &__column {
      width: 60%;
    }
  }
  .leerdoel {
    padding: 0px;
    &__photo {
      height: 20rem;
    }
    &__first {
      margin-top: 0px;
    }
  }
  .scrollbox {
    width: 100%;
  }
}

@media screen and (max-width: $small) {
  .footer {
    display: inline-block;
    height: 12rem;
    p:nth-child(n+2) {
      padding: 0;
    }
    a {
      text-align: center;
    }
  }
}
